<!DOCTYPE html>
<html>
  <head>
    <title>GSDA Automações - Mesa de Entrada</title>
    <!-- Importação de CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body>
    <!-- Container da Sidebar (Nav) -->
    <div class='sidebarContainer area'>
      <!-- Área do background animado -->
      <ul class="circles"><li></li><li></li><li></li><li></li><li></li><li></li></ul>
      <!-- Fim da área do background animado -->
      
    </div>
    <!-- Container Principal (Conteúdo) -->
    <div class='contentContainer'>
      <iframe src="frames/overview.html" name="contentIframe" frameborder="0"></iframe>
    </div>
  </body>
  <!-- Importação de JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="../eel.js"></script>
<html>
